<ion-content [fullscreen]="true">
  <img src="../../../assets/Group 170@2x.png" class="splashImg">

  <ion-item detail="false" lines="none">
    <ion-label class="splashLabel">
      <h1>RobotChat </h1>
      <p>Chat more. Share more. </p>
    </ion-label>
  </ion-item>


  <!-- signup option -->
  <ion-list lines="none">
    <ion-item detail="false" class="ion-padding">
      <ion-buttons class="buttonsContainer">
        <ion-button class="googleButtons" (click)="login_with_google()">
          <ion-icon name="logo-google" slot="start"></ion-icon>
          Sign up with Google
        </ion-button>
        <ion-button class="emailButtons" routerLink="/register">
          <ion-icon name="mail" slot="start"></ion-icon>
          Sign up with Email
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-buttons>
      <ion-button routerLink="/login">Already have an account? Login </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>