<ion-content [fullscreen]="true">
  <img src="../../../assets/splashbg.svg" class="splashImg">

  <ion-item detail="false" lines="none">
    <ion-label class="splashLabel">
      <h1>RobotChat </h1>
      <p>Chat more. Share more. </p>
    </ion-label>
  </ion-item>


  <!-- signup option -->
  <ion-list lines="none">
    <ion-item detail="false">
      <ion-buttons class="googleButtons">
        <ion-button>
          <ion-icon name="logo-google"></ion-icon>
          Sign up with Google
        </ion-button>
      </ion-buttons>
    </ion-item>

    <ion-item detail="false">
      <ion-buttons class="emailButtons">
        <ion-button>
          <ion-icon name="mail"></ion-icon>
          Sign up with Email
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons>
      <ion-button routerLink="/login">Already have an account? Login </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>