ion-avatar {
    height: 100px;
    width: 100px;

    ion-buttons {
        position: absolute;
        bottom: 0;
        transform: translate(55px, -4px);
        button {
            height: 36px;
            background-color: #d48b19;
            border-radius: 100%;
        }
        ion-icon {
            font-size: 25px;
            color: #ffffff;
        }
    }
}

h1 {
    font-weight: 700;
    font-size: 30px;
    color: #481788;
    line-height: 37px;
}

p {
    font-weight: 300;
    font-size: 20px;
    color: #481788;
    line-height: 24px;
}

.emailButtons {
    border-radius: 24px;
    background-color: #d48b19 !important;
    height: 52px;
    width: 268px;
}

.buttonsContainer {
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    * {
        color: #ffffff;
        text-transform: inherit;
        font-weight: 400;
    }
    ion-button {
        margin: 10px;
    }

    ion-icon {
        font-size: 30px;
        position: absolute;
        left: 0;
        padding: 5px;
    }
}

// ion-footer {
//     * {
//         background-color: transparent;
//         --background: transparent;
//     }
//     ion-buttons {
//         ion-button {
//             width: 100%;
//             text-align: center;
//             text-transform: initial;
//             font-weight: 300;
//             color: #ffffff;
//         }
//     }
// }

ion-footer {
    * {
        background-color: transparent;
        --background: transparent;
    }

    ion-buttons {
        ion-button {
       
            text-align: left;
            text-transform: initial;
            font-weight: 300;
            color: #807f7f;
        }
    }
}
