<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-avatar>
    <img src="../../../assets/Group 171@2x.png">
  </ion-avatar>
  <ion-item detail="false" lines="none" style="margin-top: 30px;">
    <ion-label>
      <p>Recover Password</p>
    </ion-label>
  </ion-item>

  <form #recoveryInformation="ngForm" (ngSubmit)="onSubmit(recoveryInformation)">
    <ion-list>
      <!-- email -->
      <ion-item style="margin-top: 50px;">
        <ion-label position="stacked">Your Email</ion-label>
        <ion-input type="email" ngModel name="email" #email="ngModel"></ion-input>
      </ion-item>
    </ion-list>

    <!-- signup option -->
    <ion-list lines="none" class="recoverlist">
      <ion-item detail="false" class="ion-padding">
        <ion-buttons class="buttonsContainer">
          <ion-button class="emailButtons" [disabled]="!recoveryInformation.valid">
            Recover
          </ion-button>
        </ion-buttons>
      </ion-item>
      <ion-item lines="none" detail="false">
        <ion-label>
          <p>Your new password will be sent to your email</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </form>


  <!-- signup option -->
  <!-- <ion-footer>
    <ion-toolbar>
    
      <ion-list lines="none">
        <ion-item detail="false" class="ion-padding">
          <ion-buttons class="buttonsContainer">
            <ion-button class="googleButtons" (click)="login_With_Google()">
              <ion-icon name="logo-google" slot="start"></ion-icon>
              Sign up with Google
            </ion-button>
            <ion-button fill="none" routerLink="/register" class="transparentBtn">
              Don't have an account? Register
            </ion-button>
          </ion-buttons>
        </ion-item>
      </ion-list>
    </ion-toolbar>
  </ion-footer> -->
</ion-content>