<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>Contacts</ion-title>

    <ion-buttons slot="primary">
      <ion-button routerLink="/addfriend">
        <ion-icon name="person-add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="none">
    <ion-item button detail="false" *ngFor="let contact of contactList" [routerLink]="['/','mainchat',contact.email]">
      <ion-avatar slot="start">
        <img src="../../../assets/userProfileTemp.svg">
      </ion-avatar>
      <ion-label>
        <h1>{{contact.name}}</h1>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>