<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>Messages</ion-title>

    <ion-buttons slot="primary">
      <ion-button routerLink="/addfriend">
        <ion-icon name="person-add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item button detail="false" [routerLink]="['/','mainchat',1]">
      <ion-avatar slot="start">
        <span></span>
        <img
          src="https://images.pexels.com/photos/3769021/pexels-photo-3769021.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940">

      </ion-avatar>

      <ion-label>
        <h1>Jeseph Martin</h1>
        <p>Sup you up · <ion-text>now</ion-text>
        </p>
        <ion-badge>99</ion-badge>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>