<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-searchbar animated [(ngModel)]="searchText"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="none">
    <ion-item button detail="false" *ngFor="let contact of contactList | appFilter: searchText"
      [routerLink]="['/','mainchat',contact.email]">
      <ion-avatar slot="start">
        <img src="../../../assets/userProfileTemp.svg">
      </ion-avatar>
      <ion-label>
        <h1>{{contact.name}}</h1>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>